section.about-us
  .about-us-content
    h2.about-us-title About Us
    p.about-us-description
      | The model offers a framework for discussing problems related to the user&apos;s experience, as well as possible ways and means of solving them. Application development begins at the top level (strategy), where the future software product is described quite abstractly from the point of view of the expectations of both users and the customer.
    .about-us-stats
      .stat
        .stat-number 800
        .stat-label Pupils
      .stat
        .stat-number 18
        .stat-label Teachers
      .stat
        .stat-number 6
        .stat-label Foreign languages
  .about-us-image
    img(src='./participants/Oleksii/src/business-competition.png' alt='About Us Illustration')
