section.pricing 
    h2.pricing__title Pricing
    .pricing__cards 
        .pricing__card 
            .pricing__card-img 
                img(src="./participants/Sofia/src/pricing__online-test.png", alt="")
            .pricing-card-wrapper
                h2.pricing__card-title Self-study online course
                p.pricing__card-text Start learning English online in live classes with qualified EC teachers and students from all over the world.
            button.pricing__card-button £5.99
                span.pricing__card-span per month
        .pricing__card
            .pricing__card-img 
                img(src="./participants/Sofia/src/pricing__offline-lesson.png", alt="")
            .pricing-card-wrapper
                h2.pricing__card-title Self-study online course
                p.pricing__card-text Interactive group classes with expert teachers. Free 7-day trial
            button.pricing__card-button £12.99
                span.pricing__card-span per month
        .pricing__card 
            .pricing__card-img 
                img(src="./participants/Sofia/src/pricing__video-call.png", alt="")
            .pricing-card-wrapper
                h2.pricing__card-title Self-study online course
                p.pricing__card-text Online one-to-one English tutoring – enjoy our first session for only $1
            button.pricing__card-button £20.99
                span.pricing__card-span per month
