main
    section#Home.hero
        .hero-text
            .hero-text-content
                .hero-title
                    | Learn 
                    br
                    |  Any Foreign 
                    br
                    |  Language
                .hero-p
                    br
                    | With our teachers who write a program for 
                    br
                    |  each student, you will be able to make your 
                    br
                    |  first sketch after the first lesson.
                button.getStarted Get started

            img.decoration(src='./participants/Artem/src/decoration.png' alt='')
            .hero-foto
                img(src='./participants/Artem/src/women.webp' alt='' loading="lazy")
