main
    section.hero
        .hero-text
            .hero-title
                | Learn 
                br
                |  Any Foreign 
                br
                |  Language
            .hero-p
                | With our teachers who write a program for 
                br
                |  each student, you will be able to make your 
                br
                |  first sketch after the first lesson.
                button.getStarted Get started
            img.decoration(src='./participants/Artem/src/women.png' alt='')
            .hero-foto
                img(src='./src/img/ARTEM/women.png' alt='')
