header.header-britlex
    .header-content 
        .logo
            span Brit
            span.lex lex
        .header-nav-menu
            a(href="") Home
            a(href="#Skills") Skills
            a(href="#About") About Us
            a(href="#Pricing") Pricing
            a(href="#Contact") Contacts
        button.header-button
            h5 Let’s Talk
    .nav-container
        input#burger-checkbox(type="checkbox")
        label.burger(for="burger-checkbox")
            span
            span
            span
        nav.nav-menu
            .logo
                span Brit
                span lex
            hr
            ul
                li
                    a(href="#") Home
                li
                    a(href="#") Skills
                li
                    a(href="#") About Us
                li
                    a(href="#") Pricing
                li
                    a(href="#") Contacts

