doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
    body 
    header.header-britlex
        h1.header-logo Brit
            samp.header-logo-second lex    
        section.header-nav-menu
            a(href='') Home
            a(href='') Skills
            a(href='') About Us
            a(href='') Pricing
            a(href='') Contacts
        button.header-button
            h5 Let’s Talk