header.header-britlex
    .logo
        span Brit
        span lex    
    .header-nav-menu
        a(href='') Home
        a(href='') Skills
        a(href='') About Us
        a(href='') Pricing
        a(href='') Contacts
    button.header-button
        h5 Let’s Talk