section.contact-us 
    img.contact-us__picture(src="./participants/Nastya/src/contact-us-img.png", alt="")
    .contact-us__infogroup 
        h1.contact-us__title Contact Us 
        p.contact-us__text Discover your current English level by taking our free online English test.Sign up to our newsletter for learning tips and free resources
        form.contact-us__form(action="")
            input.contact-us__input(type="email" placeholder="Enter Your E-mail") 
            button.contact-us__button(type="submit") Subscribe
