doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Britlex
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    body
        section.skills
        h1.skills-text Skills
        .card-df
            .big-card
                img.card-img(src='./participants/Stas/src/shared.png', alt='')
                h3.card-h3 Speaking
                .skill-text-df
                    p.card-text
                        | Improve your English skills and confidence.
                        | Live classes and interactive lessons online.
                        | 20% extra free for a limited time only
                    p.card-text
                        | Learn English online and improve your
                        | skills through our high-quality courses
                        | and resources all designed for adult language learners.
                button.bth-skills Learn more
            .card-fx-df
                .small-card-df
                    .small-card
                        img.card-img-type(src='./participants/Stas/src/Typewriter-bro 1.png', alt='')
                        h3.card-h3 Writing
                        .skill-text-df
                            p.card-text
                                | One of the most important and extensive
                                | areas of natural science, the science that
                                | studies substances, also their composition
                            button.bth-skills Learn more
                    .small-card
                        img.card-img-home(src='./participants/Stas/src/House bookshelves-bro 1.png', alt='')
                        h3.card-h3 Reading
                        .skill-text-df
                            p.card-text
                                | perception and response actions of the user
                                | resulting from the use and/or upcoming use
                                | of the product, system or service
                            button.bth-skills Learn more
                .medium-card
                    .card-text-medium-df
                        h3.card-h3 Listening
                        .skill-text-df
                            p.card-text
                                | Here you can find activities to practise
                                | your listening skills. Listening will help you
                                | to improve your understanding.
                            button.bth-skills Learn more
                    img.card-img-home(src='./participants/Stas/src/podcast.png', alt='')
